<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./parts/linkico.ejs")  %>
    <title>Furniture | <%= title %></title>
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/header.css">
    <link rel="stylesheet" href="/public/styles/stylesofas.css">
    <link rel="stylesheet" href="/public/styles/footer.css">
</head>

<body>
    <%- include("./parts/header.ejs")  %>
    <section class="section" id="section">
        <hr>
        <div class="container">
            <h1 class="divani">ДИВАНИ</h1>
        </div>
        <hr>
        <div class="container">
            <div class="flex">
                <div class="filter">
                    <div class="filterosnova">
                        <p>Фільтр</p>
                        <svg class="filtersvg">
                            <use href="#filtersvg"></use>
                        </svg>
                    </div>
                    <div class="linef1"></div>
                    <div class="filter1" id="f01">
                        <div class="filflex">
                            <p class="unselectable">Виробник</p>
                            <svg class="filtersvg">
                                <use href="#buttondown1"></use>
                            </svg>
                        </div>
                        <div class="filflex1">
                            <% for(i = 1; i < brand.length; i++) { %>
                            <div class="category">
                                <p class="brand unselectable"><%= brand[i].brand %></p>
                                <input class="checkbox" type="checkbox" data-filter="brand"
                                    data-value="<%= brand[i].brand %>">
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="filter1">
                        <div class="filflex">
                            <p class="unselectable">Механізм</p>
                            <svg class="filtersvg">
                                <use href="#buttondown1"></use>
                            </svg>
                        </div>
                        <div class="filflex1">
                            <% for(i = 1; i < mechanism.length; i++) { %>
                            <div class="category">
                                <p class="mechanism unselectable"><%= mechanism[i].mechanism %></p>
                                <input class="checkbox" type="checkbox" data-filter="mechanism"
                                    data-value="<%= mechanism[i].mechanism %>">
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="filter1">
                        <div class="filflex">
                            <p class="unselectable">Наповнювач</p>
                            <svg class="filtersvg">
                                <use href="#buttondown1"></use>
                            </svg>
                        </div>
                        <div class="filflex1">
                            <% for(i = 1; i < extender.length; i++) { %>
                            <div class="category">
                                <p class="extender unselectable"><%= extender[i].extender %></p>
                                <input class="checkbox" type="checkbox" data-filter="extender"
                                    data-value="<%= extender[i].extender %>">
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="filter1">
                        <div class="filflex">
                            <p class="unselectable">Каркас</p>
                            <svg class="filtersvg">
                                <use href="#buttondown1"></use>
                            </svg>
                        </div>
                        <div class="filflex1">
                            <% for(i = 1; i < frame.length; i++) { %>
                            <div class="category">
                                <p class="frame unselectable"><%= frame[i].frame %></p>
                                <input class="checkbox" type="checkbox" data-filter="frame"
                                    data-value="<%= frame[i].frame %>">
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="filter1">
                        <div class="filflex">
                            <p class="unselectable">Короб</p>
                            <svg class="filtersvg">
                                <use href="#buttondown1"></use>
                            </svg>
                        </div>
                        <div class="filflex1">
                            <% for(i = 1; i < box.length; i++) { %>
                            <div class="category">
                                <p class="box unselectable"><%= box[i].box %></p>
                                <input class="checkbox" type="checkbox" data-filter="box"
                                    data-value="<%= box[i].box %>">
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="filter1">
                        <div class="filflex">
                            <p class="unselectable">Місто</p>
                            <svg class="filtersvg">
                                <use href="#buttondown1"></use>
                            </svg>
                        </div>
                        <div class="filflex1">
                            <% for(i = 1; i < city.length; i++) { %>
                            <div class="category">
                                <p class="city unselectable"><%= city[i].city %></p>
                                <input class="checkbox" type="checkbox" data-filter="city"
                                    data-value="<%= city[i].city %>">
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="filter1">
                        <div class="filflex">
                            <p class="unselectable">Ціна</p>
                            <svg class="filtersvg">
                                <use href="#buttondown1"></use>
                            </svg>
                        </div>
                        <div class="filflex1">
                            <div class="category">
                                <div class="slider-container">
                                    <input type="range" min="0" max="10000" step="1" value="0" id="priceSlider"
                                        style="width: 70px;">
                                </div>
                                <p id="priceRange">0 - 10000</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="productsofa">
                    <% for(i = 0; i < product.length; i++) { %>
                    <% if (product[i].type == "Диван") { %>
                    <div class="goods1" data-brand="<%= product[i].brand %>"
                        data-mechanism="<%= product[i].mechanism %>" data-extender="<%= product[i].extender %>"
                        data-frame="<%= product[i].frame %>" data-box="<%= product[i].box %>"
                        data-city="<%= product[i].city %>" data-price="<%= product[i].price %>">
                        <a href="sofas/<%= product[i].id %>" class="agoods">
                            <div style="width: 90%; margin: 0 auto; text-align: center;"><img decoding="async"
                                    loading="lazy" alt="<%= product[i].name %>" title="<%= product[i].name %>"
                                    class="imageproduct" src="<%= product[i].imgsrc %>"></div>
                            <div style="text-align: center;"><%= product[i].name %></div>
                            <div class="price" style="text-align: center;"><%= product[i].price %>₴</div>
                            <div class="instock">В наличии:<%= product[i].instock %></div>
                        </a>
                        <button class="cart" id="<%= product[i].id %>">Додати в кошик</button>
                    </div>
                    <% } %>
                    <% } %>
                </div>
                <div id="notification-container"></div>

            </div>
        </div>
    </section>

    <%- include("./parts/svg.ejs")  %>
    <%- include("./parts/footer.ejs")  %>
    <script src="/public/storage.js"></script>
    <script src="/public/hovphone.js"></script>
    <script src="/public/notification.js"></script>
    <script src="/public/filter.js"></script>
</body>

</html>